.th {
  border: 1px solid #000;
  padding: .5rem;
  background-color:var(--corPadrao);
  color: var(--fonteBranco);
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}