
.page{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.test{
    display: flex;
    flex-grow: 1;
    
   
}
.vazia{
    border-right: 1px solid #000;
    min-height: 100%;

}

.corpo_form{
    width: 65%;
    padding:1%;
    padding-left:1%;
}

.corpo_table{
    width: 100%;
    padding:1%;
    min-height: 100%;
}

.erro{
    color: red;
    padding-top: .3rem;
}