.tr:hover {
  background-color: #4354a2b7 !important;
}

.tr:nth-child(odd) {
  background-color: #d7d7d7;
}

.tr:nth-child(even) {
  background-color: #fff;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
